<!-- Contact Section -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<footer>
    <div class="footer navbar-fixed-bottom w3-container w3-padding-32 w3-light-grey" style="margin-top: 30px; bottom:0; width:100%">
        <h3>Contact <img src="logo.png"  alt="Mallet Manager" width="45"/></h3>
        <p>We host management services for polo clubs to interconnect managers, players and spectators efficiently. Please do not hesitate to contact us.</p>
        <p class="w3-text-blue-grey"><b>Mallet Manager, London, UK</b></p>
        <p>You can also contact us by phone 01732 700722 or email office@malletManager.com</p>
        <p>&copy; Mallet Manager 2018</p>
    </div>
</footer>