<a href="#/sendMessage" class="btn btn-primary" style="float:right; margin: 10px">Send Message</a>
<h1>My Messages</h1>

<div class="alert alert-warning" ng-hide="messages">
    <p>There aren't any messages!</p>
</div>
<table class="table table-bordered" ng-show="messages != null">
    <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Subject</th>
        <th>Message</th>
        <th> </th>
    </tr>
    <tr ng-repeat="message in messages">
        <td>{{message.senderID}}</td>
        <td>{{message.receiptID}}</td>
        <td>{{message.subject}}</td>
        <td>{{message.body}}</td>
        <td><a ng-click="remove(message.id)" class="trash"/><span class="glyphicon glyphicon-trash"/></td>
    </tr>
</table>

