 <a href="#/createMatch" class="btn btn-primary" style="float:right; margin: 10px">Create Match</a>
<h1>Matches</h1>


<div class="alert alert-warning" ng-hide="matches">
    <p>There aren't any matches!</p>
</div>

<table class="table table-bordered" ng-show="matches != null">
    <tr>
        <th>First Team ID</th>
        <th>Second Team ID</th>
        <th>First Team Colours</th>
        <th>Second Team Colours</th>
        <th>Pitch</th>
        <th>Date and Time</th>
        <th>League ID</th>
        <th>First Team Result</th>
        <th>Second Team Result</th>
        <th> </th>
    </tr>
    <tr ng-repeat="match in matches">
        <td>{{match.firstTeamID}}</td>
        <td>{{match.secondTeamID}}</td>
        <td>{{match.firstTeamColours}}</td>
        <td>{{match.secondTeamColours}}</td>
        <td>{{match.pitch}}</td>
        <td>{{match.dateAndTime}}</td>
        <td>{{match.leagueID}}</td>
        <td>{{match.firstTeamScore}}</td>
        <td>{{match.secondTeamScore}}</td>

        <td><a ng-click="remove(match.id)" class="trash"/><span class="glyphicon glyphicon-trash"/></td>
    </tr>
</table>

