<div class="row">
    <div class="panel-body">
        <div class="alert alert-warning" ng-hide="messages">
            <p>There aren't any messages!</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="message in messages">
                <a href="#/edit/{{message.id}}">{{message.subject}}</a>

                <div class="pull-right action-buttons">
                    <a href="#/view/{{message.id}}"></a>
                    <a ng-click="remove(message.id)" class="trash"><span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>