<!--<h1>{{$parent.settings.pageTitle}}</h1>-->

<!--<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>-->

<!--<div class="required-field-block">-->
    <!--<select ng-model="Messages.id" class="form-control">-->
        <!--<option value="">Select a Message</option>-->
        <!--<option ng-repeat="message in Messages" value="{{message.id}}">{{message.subject}}</option>-->
    <!--</select>-->
<!--</div>-->


<!--<button class="btn btn-primary" ng-click="submit($parent.message)">{{$parent.settings.action}}</button>-->