<h1>{{$parent.settings.pageTitle}}</h1>

<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="required-field-block">
    <input type="text" placeholder="Subject" ng-model="message.subject" class="form-control">
    <input type="text" placeholder="Body" ng-model="message.body" class="form-control">
    <input type="text" placeholder="ID of sender" ng-model="message.senderID" class="form-control">
    <input type="datetime-local" placeholder="Leave blank" ng-model="user.salt" class="form-control">

</div>

<button class="btn btn-primary" ng-click="submit($parent.message)">{{$parent.settings.action}}</button>