<!--<h1>{{$parent.settings.pageTitle}}</h1>-->

<!--<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>-->

<!--<div class="required-field-block">-->
    <!--<select ng-model="Users.id" class="form-control">-->
        <!--<option value="">Select a User</option>-->
        <!--<option ng-repeat="user in Users" value="{{user.id}}">{{user.first}}</option>-->
    <!--</select>-->
<!--</div>-->


<!--<button class="btn btn-primary" ng-click="submit($parent.Users)">{{$parent.settings.action}}</button>-->